<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a routerLink="/dashboard" class="brand-logo">Madmin</a>
            <a href="javascript:void(0);" data-activates="side-nav" class="button-collapse show-on-large right">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down nav navbar-nav" routerLinkActive="active">
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/posts" class="nav-link"> Words</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/categories" class="nav-link">Titles</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/comments" class="nav-link">Results</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/users" class="nav-link">Users</a>
                </li>
            </ul>
            <!-- Side nav -->
            <ul id="side-nav" class="side-nav">
                <li>
                    <a routerLink="/dashboard">
                        <i class="material-icons">dashboard</i> Dashboard</a>
                </li>
                <li>
                    <a routerLink="/posts">Words</a>
                </li>
                <li>
                    <a routerLink="/categories">Titles</a>
                </li>
                <li>
                    <a routerLink="/comments">Results</a>
                </li>
                <li>
                    <a routerLink="/users">Users</a>
                </li>
                <li>
                    <a routerLink="/addwordtotitle">Add Word To Title</a>
                </li>
                <li>
                    <a routerLink="/excelsite">Excel site</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a (click)="logout()" class="waves-effect">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>