<div *ngIf="isLoggedIn; else loggedOut">
  <app-header></app-header>
  <div class="input-field">
    <i class="material-icons prefix">search</i>
    <input id="phone" type="text"  [(ngModel)]="searchText">
    <label for="phone">Search Word</label>
  </div>
  <cdk-virtual-scroll-viewport itemSize="100">
    <a>
      <li *cdkVirtualFor="let p of data|filter:searchText" class="animated slideInRight" (click)="onSelectedWord(p.id)">
          <!-- src="http://localhost:9059/upload/file/{{p.imageWord}}" 
          onError="this.onerror=this.src='../../assets/images/no_image.png';"-->
            
          <div class="row" routerLink="/detailword/{{p.id}}" >
            <div class="col s4">
                <img
                class="responsive-img file_image"
               src="http://localhost:9059/upload/file/{{p.imageWord}}"
                style="height: 150px;position: relative;top: -11px;"
                onError="this.onerror=this.src='../../assets/images/no_image.png';"
              />
            </div>
            <div class="col s8">
                <h2>{{ p.vocabulary }}</h2>
              <p>{{ p.note }}</p>
            </div>
            
          </div>

       
        
      </li>
    </a>
  </cdk-virtual-scroll-viewport>
  <!-- Footer -->
  <footer class="section blue darken-2 white-text center">
    <p>Madmin Panel Copyright &copy; 2018</p>
  </footer>

  <!-- Fixed Action Button -->
  <div class="fixed-action-btn">
    <a href="#add-word" class="modal-trigger btn-floating btn-large red">
      <i class="material-icons">star</i>
    </a>
  </div>

   <!-- Add Word Modal -->
   <div id="add-word" class="modal">
      <div class="modal-content">
        <h4>Add Word</h4>
        <form>
          <div class="input-field">
            <input
              type="text"
              id="vocabulary"
              [(ngModel)]="WordPost.vocabulary"
              name="vocabulary"
              placeholder=""
            />
            <label for="vocabulary">Vocabulary</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="phonetic"
              [(ngModel)]="WordPost.phonetic"
              name="phonetic"
              placeholder=""
            />
            <label for="phonetic">Phonetic</label>
          </div>
          <div class="input-field">
            <textarea
              id="note"
              class="materialize-textarea"
              [(ngModel)]="WordPost.note"
              name="note"
              placeholder=""
            ></textarea>
            <label for="note">Note</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="definition"
              [(ngModel)]="WordPost.definition"
              name="definition"
              placeholder=""
            />
            <label for="definition">Definition</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="typeword"
              [(ngModel)]="WordPost.typeword"
              name="typeword"
              placeholder=""
            />
            <label for="typeword">Typeword</label>
          </div>
          <!-- Upload File Image -->
          <div class="file-field input-field">
            <div class="btn">
              <span>Upload File Image</span>
              <input
                #file
                type="file"
                accept="image/*"
                (change)="preview(file.files, $event)"
              />
            </div>
            <div class="file-path-wrapper">
              <input id="inputImage" type="text" class="file-path" />
            </div>
          </div>
          <!-- Result Preview Upload File Image -->
          <div class="input-field">
            <span style="color:red;" *ngIf="messageImage">{{
              messageImage
            }}</span>
            <img id="resultImage" [src]="imgURL" height="200" *ngIf="imgURL" />
          </div>
          <!-- Upload File Audio -->
          <!-- <div class="file-field input-field">
            <div class="btn">
              <span>Upload File Audio</span>
              <input
                #fileaudio
                type="file"
                id="input"
                (change)="previewAudio(fileaudio.files, $event)"
              />
            </div>
            <div class="file-path-wrapper">
              <input id="inputAudio" type="text" class="file-path" />
            </div>
          </div> -->
          <!-- Result Preview Upload File Audio -->
          <!-- <div>
            <audio id="sound"></audio>
            <span style="color:red;" *ngIf="messageAudio">{{
              messageAudio
            }}</span>
          </div> -->
          <!-- PreLoader Add Word-->
          <div id="progress" class="progress" style="display: none;">
            <div
              class="determinate"
              [ngStyle]="{ width: progress.percentage + '%' }"
            ></div>
          </div>
        </form>
        <div class="modal-footer">
          <button (click)="upload()" class="modal-action btn blue white-text ">
            Save
          </button>
          <button
            (click)="file.value = null"
            id="updateButton"
            style="display:none;"
            class="modal-close"
          ></button>
        </div>
      </div>
    </div>
  <!-- Add Post Modal -->
  <div id="post-modal" class="modal">
    <!-- <div class="modal-content">
      <h4>Add Post</h4>
      <form>
        <div class="input-field">
          <input type="text" id="title" />
          <label for="title">Title</label>
        </div>
        <div class="input-field">
          <select>
            <option value="" disabled selected>Select option</option>
            <option value="1">Web Development</option>
            <option value="2">Graphic Design</option>
            <option value="3">Tech Gadgets</option>
            <option value="4">Other</option>
          </select>
          <label>Category</label>
        </div>
        <div class="input-field">
          <textarea
            name="body"
            id="body"
            class="materialize-textarea"
          ></textarea>
          <label for="body">Body</label>
        </div>
      </form>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn blue white-text"
          >Submit</a
        >
      </div>
    </div> -->
    
  </div>

  <!-- Preloader -->
  <div class="loader preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <app-login></app-login>
</ng-template>
