<div *ngIf="isLoggedIn; else loggedOut">
  <app-header></app-header>
  <cdk-virtual-scroll-viewport itemSize="100">
    <a href="#detail-card" class="modal-trigger">
      <li *cdkVirtualFor="let p of data" class="animated slideInRight" (click)="onSelectedWord(p.id)">
        <h2>{{ p.id }} {{ p.vocabulary }}</h2>
        <p>{{ p.phonetic }}</p>
      </li>
    </a>
  </cdk-virtual-scroll-viewport>
  <!-- Footer -->
  <footer class="section blue darken-2 white-text center">
    <p>Madmin Panel Copyright &copy; 2018</p>
  </footer>

  <!-- Fixed Action Button -->
  <div class="fixed-action-btn">
    <a href="#post-modal" class="modal-trigger btn-floating btn-large red">
      <i class="material-icons">add</i>
    </a>
  </div>
  <!-- Model Item Post-->
  <div id="detail-card" class="modal">
    <div class="modal-content">
      <form>
        <div class="input-field">
          <input type="text" id="vocabulary" [(ngModel)]="selectedWord.vocabulary" name="vocabulary" placeholder=""/>
          <label for="vocabulary">Vocabulary</label> 
        </div>
        <div class="input-field">
          <input type="text" id="phonetic"  [(ngModel)]="selectedWord.phonetic" name="phonetic" placeholder="" />
          <label for="phonetic">Phonetic</label>
        </div>
        <div class="input-field">
          <textarea id="note" class="materialize-textarea" [(ngModel)]="selectedWord.note" name="note" placeholder=""></textarea>
          <label for="note">Note</label>
        </div>
        <div class="input-field">
          <input type="text" id="definition"  [(ngModel)]="selectedWord.definition" name="definition" placeholder=""/>
          <label for="definition">Definition</label>
        </div>
        <div class="input-field">
          <input type="text" id="typeword"  [(ngModel)]="selectedWord.typeword" name="typeword" placeholder=""/>
          <label for="typeword">Typeword</label>
        </div>
        <div class="input-field">
          <input type="text" id="createdDatetime"  [(ngModel)]="selectedWord.createDatetime" name="createdDatetime" placeholder=""/>
          <label for="createdDatetime">CreatedDatetime</label>
        </div>
        <div class="input-field">
          <input type="text" id="updatedDatetime"  [(ngModel)]="selectedWord.updatedDatetime" name="updatedDatetime" placeholder=""/>
          <label for="updatedDatetime">UpdatedDatetime</label>
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload File</span>
            <input type="file" />
          </div>
          <div class="file-path-wrapper">
            <input type="text" class="file-path" />
          </div>
        </div>
      </form>
      <div class="modal-footer">
          <a href="#!" class="modal-action modal-close btn blue white-text"
            >Update</a
          >
        </div>
    </div>
  </div>
  <!-- Add Post Modal -->
  <div id="post-modal" class="modal">
    <div class="modal-content">
      <h4>Add Post</h4>
      <form>
        <div class="input-field">
          <input type="text" id="title" />
          <label for="title">Title</label>
        </div>
        <div class="input-field">
          <select>
            <option value="" disabled selected>Select option</option>
            <option value="1">Web Development</option>
            <option value="2">Graphic Design</option>
            <option value="3">Tech Gadgets</option>
            <option value="4">Other</option>
          </select>
          <label>Category</label>
        </div>
        <div class="input-field">
          <textarea
            name="body"
            id="body"
            class="materialize-textarea"
          ></textarea>
          <label for="body">Body</label>
        </div>
      </form>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn blue white-text"
          >Submit</a
        >
      </div>
    </div>
  </div>

  <!-- Preloader -->
  <div class="loader preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <app-login></app-login>
</ng-template>
