<div *ngIf="isLoggedIn; else loggedOut">
    <app-header></app-header>
    <!-- Section: Stats -->
    <section class="section section-stats center">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card-panel blue lighten-1 white-text center">
                    <i class="material-icons medium">insert_emoticon</i>
                    <h5>Words</h5>
                    <h3 class="count">{{overview.words}}</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate white lighten-1" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <i class="material-icons medium">mode_edit</i>
                    <h5>Titles</h5>
                    <h3 class="count">{{overview.titles}}</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate blue lighten-1" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel blue lighten-1 white-text center">
                    <i class="material-icons medium">mode_comment</i>
                    <h5>Results</h5>
                    <h3 class="count">{{overview.results}}</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate white lighten-1" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <i class="material-icons medium">supervisor_account</i>
                    <h5>Users</h5>
                    <h3 class="count">{{overview.users}}</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate blue lighten-1" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-visitors blue lighten-4">
        <div class="row"></div>
    </section>
    <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>Vocabulary</th>
                <th>Phonetic</th>
                <th>Definition</th>
                <th>Note</th>
                <th>TypeWord</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let word of data">
                <td>{{ word.vocabulary }}</td>
                <td>{{ word.phonetic }}</td>
                <td>{{ word.definition }}</td>
                <td>{{ word.note }}</td>
                <td>{{ word.typeword }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Section: Visitors -->
    <section class="section section-visitors blue lighten-4">
        <div class="row">
            <div class="col s12 m6 l8">
                <div class="card-panel">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <!-- Latest Comments -->
                <ul class="collection with-header latest-comments">
                    <li class="collection-header">
                        <h5>Latest Words</h5>
                    </li>
                    <li class="collection-item avatar" *ngFor="let dataTop3 of ListLoadTop3">
                        <img src="http://localhost:9059/upload/file/{{dataTop3.imageWord}}" alt="" class="circle" />
                        <span class="title">{{dataTop3.vocabulary}}</span>
                        <p class="truncate">
                            {{dataTop3.note}}
                        </p>
                        <a routerLink="/detailword/{{dataTop3.id}}" class="green-text">Detail</a>
                    </li>

                </ul>
            </div>
        </div>
    </section>

    <!-- Section: Recent Posts & Todos -->
    <section class="section section-recent">
        <div class="row">
            <div class="col s12 l8 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Recent Title</span>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Created Time</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let listtitle of listTitleTop3">
                                    <td>{{listtitle.name}}</td>
                                    <td>{{listtitle.createdDatetime}}</td>
                                    <td>
                                        <a routerLink="/detailtitle/{{listtitle.id}}" class="btn blue lighten-2">Details</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Quick Todos</span>
            <form id="todo-form">
              <div class="input-field">
                <input  id="todo" type="text" placeholder="Add Todo..." (keyup.enter)="saveToDo()" />
              </div>
            </form>
            <ul class="collection todos">
              <li class="collection-item" *ngFor="let todo of listToDo">
                <div>
                  {{todo.note}}
                  <a href="javascript:void(0);" (click)="deleteToDo(todo.id)" class="secondary-content delete">
                    <i class="material-icons">close</i>
                  </a>
                    </div>
                    </li>

                    </ul>
                </div>
            </div>
        </div>
</div>
</section>

<!-- Footer -->
<footer class="section blue darken-2 white-text center">
    <p>Madmin Panel Copyright &copy; 2018</p>
</footer>

<!-- Fixed Action Button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li>
            <a href="#post-modal" class="modal-trigger btn-floating blue">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
        <li>
            <a routerLink="/excelsite" class="btn-floating blue">
                <i class="material-icons">book</i>
            </a>
        </li>
        <li>
            <a href="#user-modal" class="modal-trigger btn-floating blue">
                <i class="material-icons">supervisor_account</i>
            </a>
        </li>
    </ul>
</div>
<!--Confirm Delete-->
<div id="delete-form" class="modal">
    <div class="modal-content">
        <i class="material-icons">info</i>
        <h1>Do you want to delete item?</h1>
        <button class="modal-action modal-close btn blue white-text">
        Delete
      </button>
        <button class="modal-action modal-close btn red white-text">
        Cancel
      </button>
    </div>
</div>




<!-- Add Post Modal -->
<div id="post-modal" class="modal">
    <div class="modal-content">
        <h4>Add Post</h4>
        <form>
            <div class="input-field">
                <input type="text" id="title" />
                <label for="title">Title</label>
            </div>
            <div class="input-field">
                <select>
            <option value="" disabled selected>Select option</option>
            <option value="1">Web Development</option>
            <option value="2">Graphic Design</option>
            <option value="3">Tech Gadgets</option>
            <option value="4">Other</option>
          </select>
                <label>Category</label>
            </div>
            <div class="input-field">
                <textarea name="body" id="body" class="materialize-textarea"></textarea>
                <label for="body">Body</label>
            </div>
        </form>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn blue white-text">Submit</a
        >
      </div>
    </div>
  </div>
  <!-- Add User Modal -->
  <div id="user-modal" class="modal">
    <div class="modal-content">
      <h4>Add User</h4>
      <form>
        <div class="input-field">
          <input type="text" id="name" />
          <label for="name">Name</label>
        </div>
        <div class="input-field">
          <input type="email" id="email" />
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input type="password" id="password" />
          <label for="password">Password</label>
        </div>
        <div class="input-field">
          <input type="password" id="password2" />
          <label for="password2">Confirm Password</label>
        </div>
      </form>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn blue white-text"
          >Submit</a
        >
      </div>
    </div>
  </div>

  <!-- Preloader -->
  <div class="loader preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <app-login></app-login>
</ng-template>