
<app-header></app-header>
<!--View Word Modal-->
<div>
  <div class="modal-content">
    <h4>Detail Word</h4>
    <form>
      <div class="input-field">
        <input
          type="text"
          id="vocabulary"
          [(ngModel)]="selectedWord.vocabulary"
          name="vocabulary"
          placeholder=""
        />
        <label for="vocabulary">Vocabulary</label>
      </div>
      <div class="input-field">
        <input
          type="text"
          id="phonetic"
          [(ngModel)]="selectedWord.phonetic"
          name="phonetic"
          placeholder=""
        />
        <label for="phonetic">Phonetic</label>
      </div>
      <div class="input-field">
        <textarea
          id="note"
          class="materialize-textarea"
          [(ngModel)]="selectedWord.note"
          name="note"
          placeholder=""
        ></textarea>
        <label for="note">Note</label>
      </div>
      <div class="input-field">
        <input
          type="text"
          id="definition"
          [(ngModel)]="selectedWord.definition"
          name="definition"
          placeholder=""
        />
        <label for="definition">Definition</label>
      </div>
      <div class="input-field">
        <input
          type="text"
          id="typeword"
          [(ngModel)]="selectedWord.typeword"
          name="typeword"
          placeholder=""
        />
        <label for="typeword">Typeword</label>
      </div>
      <!-- <div *ngFor="let file of files">
          <audio controls>
              <source src="file.audio" type="audio/mp3" />
              Your browser does not support the audio element.
      
            </audio>  
      </div> -->
      <audio controls>
      <source src="{{file}}" type="audio/mp3" />
      </audio>  
      <img src="{{file}}"  style="max-width:350px"/>
      <!-- <h1  [(ngModel)]="file.audio" name="audio"></h1> -->
      <h2>{{file}}</h2>
        <h3>http://localhost:9059/upload/file/{{ selectedWord.audioword }}</h3>
      
      
     
    </form>
   
  </div>
</div>

<button (click)="goBack()">go back</button>